<div class=" app container-fluid">
  <div class="row">
    <div class="col-5">
      <img class="logo" src="assets/logo.png" />
    </div>
    <nav class="navbar navbar-expand-md navbar-light col-7 navigation">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item items">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item items">
            <a class="nav-link" href="#">Solution</a>
          </li>
          <li class="nav-item items">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item items">
            <button class="nav-link login-btn" href="#">Login</button>
          </li>
          <li class="nav-item items">
            <a class="nav-link get-started-btn" href="#">Get Started</a>
          </li>
        </ul>
      </div>
      <div class="nav-circle">
        <img class="circle" src="assets/circle.svg" />
      </div>
    </nav>
  </div>
  <my-home></my-home>
  <router-outlet></router-outlet>
</div>