<div class="row information-container">
  <div class="col-3 ">
    <div class="col-12 cash-block mb-4">
      <div>
        <img class="info-block-image" src="assets/Get_Paid_Instantly.png">
      </div>
      <p class="info-block-header">Quick cash disbursement</p>
      <div class="info-block">
        Get terms loans that your business needs within 72 hrs
      </div>
    </div>
    <div class="col-12 cash-block mb-4">
      <div>
        <img class="info-block-image" src="assets/Low_interest_rate.png">
      </div>
      <p class="info-block-header">Low-interest rate</p>
      <div class="info-block">
        Achieve your financial goals with an amazing interest rate starting at 13% per annum
      </div>
    </div>
    <div class="col-12 cash-block mb-4">
      <div>
        <img class="info-block-image" src="assets/Secure Payments.png">
      </div>
      <p class="info-block-header">Zero Paperwork</p>
      <div class="info-block">
        Get started instantly by submitting only your basic details & bank statements
      </div>
    </div>
  </div>
  <div class="col-3 ">
    <div class=" col-12 cash-block mt-5 mb-4 freelance-section">
      <div>
        <img class="info-block-image " src="assets/freelancer_feature_icon_6@1.5x.png">
      </div>
      <p class="info-block-header">Ace your business finances</p>
      <div class="info-block">
        Manage banking, accounting & everything in between, on one platform
      </div>
    </div>
    <div class="col-12  mt-5 cash-block mb-4">
      <div>
        <img class="info-block-image" src="assets/Covid.png">
      </div>
      <p class="info-block-header">Loans to fight COVID-19</p>
      <div class="info-block">
        Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
      </div>
    </div>

  </div>

  <div class="offset-1 col-4">
    <div class="information-right-container">
      <h3>Boost your business with Open</h3>
    </div>
    <div class="mb-3">
      <img src="assets/Line 3.svg" />
    </div>
    <div>
      <p>
        Get your hands on a term loan that’s crafted for your business
      </p>
    </div>
    <div>
      <button class="open-account-btn">Get an Open Account</button>
    </div>

  </div>
</div>