.loan-block {
    padding-top: 50%;  
}
  
.emi-calculated-block {
    padding-top: 5%;  
}

.getMoney-btn {
    background: #fff;
    color: #663399!important;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 24px;
    width: 100%;
    padding: 6%;
    margin-bottom: 22%
}
