<div class="row">
  <div class="home-class col-5">
    <div class="blob-container">
      <img class="blob-image" src="assets/blob-small.svg" />
    </div>
    <span class="header-text d-block col-6">We make it Super Simple</span>
    <div class="simple-bar">
      <img src="assets/Line 3.svg" />
    </div>
    <img class="collect-video" src="assets/collect_img-video.png" />
    <div class="accounting-dots-left col-8">
      <img class="accounting-dots-left-img" src="assets/accounting_dots.svg" />
    </div>

  </div>
  <div class="home-class  eligibility-block col-7">
    <div class="eligibility-calculator col-6 float-left eligibility-calculator-section">
      <p class="calculator-header">Eligibility Calculator</p>
      <my-eligibility-calculator (loanAmountVal)="getLoanAmount($event)" (emiAmountVal)="getEmiAmount($event)">
      </my-eligibility-calculator>
    </div>
    <div class=" col-4 calculated-block float-left mt-5 ml-2">
      <my-emi-information-section [loanAmount]="loanAmount" [emiAmount]="emiAmount"></my-emi-information-section>
    </div>
    <div class="col-8 accounting-dots-right">
      <img class="accounting-dots-left-img" src="assets/accounting_dots.svg" />
    </div>
  </div>
</div>

<my-information-section></my-information-section>